
#post-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 10px; */
}

.blog__container {
    flex-basis: 28%;
    border: 2px solid wheat;
    margin: 10px;
    background-color: rgb(41, 41, 51);

}

.postTitle {
    color: rgb(245, 235, 217);
    font-size: 1.5em;
    padding: 10px;
}

.postBody {
    color: wheat;
    font-size: 1em;
    padding: 10px;
}